{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>RampDB</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
  <!-- Custom Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- Custom scripts for this template -->
  <script src="{% static 'jquery-1.12.0.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
  <script src="{% static 'home.js' %}"></script>
  <script src=//cdn.bio.sh/msa/1.0/msa.min.gz.js></script>
	
</head>

<body ng-app="homeApp" ng-controller="myCtrl">
<nav class="navbar navbar-inverse">
  <!--Logo-->
  <div class="container-fluid" id="navbar_box" style="width: 100%">
      <div class="navbar-header">
      <a href="{% url 'index' %}" class="navbar-brand" style="margin-right: 4px; width:54px;"><img src="{% static 'logo.png' %}" style="width: 175%;"></a>
	  </div>

    <div>
      <u1 class="nav navbar-nav">
        <li class="active"><a href="{% url 'index' %}" ng-click="backtoHome()">Home</a></li>
        <li><a href="{% url 'info' %}">RAMP Information</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a target="_blank" ng-href="http://jordan.biology.gatech.edu/page/">Contact</a></li>
      </u1>
	{% verbatim %}
        <a class='btn btn-primary btn-lg' id='export_button'  ng-hide="home" role='button' download="results.txt" ng-href="{{ url_dl }}" >Export Results</a>
        <a class='btn btn-primary btn-lg' id='export_button' href='' ng-hide="home"  ng-click="backtoHome()" role='button'>Search Again</a>
	{% endverbatim %}
  </div>

  </div>

</nav>
<div ng-show="home">
<!-- Main jumbotron-->
  <div class="jumbotron" id="hero">
    <div class="container-fluid">
	<div class="row table-row">
		<div class="col-sm-7 vcenter">
			<div id="logo">
      			<h1 style="vertical-align:middle;line-height:12vmin;font-size:53px"><img src="{% static 'logo.png' %}" style="width:12vmin;vertical-align:middle; float: left;">Ramp<span style="color: #E0D7C5;">DB</span></h1>
			</div>
		</div>
		<div class="col-sm-5 vcenter">
      			<h2 style="font-size:27px;">A central repository for:</h2>
      			<p>1. Exploring known information regarding RAMPs, GPCRs and associated ligands</p>
      			<p>2. Predicting potential RAMP interactions with your sequence or ligand</p>
      			<p>3. Visualizing currently known interactions between RAMPs, GPCRs and ligands</p>
      			<a class="btn btn-primary btn-lg" id="learn_button" href="{% url 'about' %}" role="button">Learn more &raquo;</a>
		</div>
	</div>
    </div>
  </div>
  <div class="container-fluid" style="width:100%;">
  <div class="row">
      <div class="col-sm-8">
			<h1 style="margin-top:2vh;">Predict Interactions:</h1>
			<h3 style="padding-top:1vh;margin-bottom:3vh;">Enter a protein sequence or ligand name below to predict potential RAMP interactions:</h3>
			<form action="javascript:void(0);">
					<div class="row">
						<div class="col-sm-7">
							<div style="float:right" class="dropdown">
								<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"  aria-haspopup="false" aria-expanded="false" name="example_ramp" id="example_button" role="button">Example <span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="example_button">
										<li class="dropdown-header">RAMPs:</li>
										<li><a href="" ng-click="rampStrongExample()">Strong Match</a></li>
										<li><a href="" ng-click="rampWeakExample()">Weak Match</a></li>
										<li class="divider"></li>
										<li class="dropdown-header">GPCRs:</li>
										<li><a href="" ng-click="gpcrStrongExample()">Strong Match</a></li>
										<li><a href="" ng-click="gpcrWeakExample()">Weak Match</a></li>

									</ul>
							</div>
							<div id="my_textarea">
								<h2 style="text-align:left">Protein Sequence:</h2>
								<textarea name=textarea_r rows="9" ng-model="proteintext" cols="40" placeholder="Enter FASTA sequence" style="width:100%;height: 225px;"></textarea>
							</div>
						</div>
						<div class="col-sm-5">
							<div id="my_ligand_textarea" style="margin-bottom:10px">
								<h2 style="float:left;">Ligand Name:</h2>
								<textarea name=textarea_l id=ligand_text ng-model="ligandtext" rows="1" cols="40" placeholder="Enter Ligand name or InChi key" style="width:100%;"></textarea>
								<h2 style="float:left;">Common Ligands:</h2>
								<div>
									<select id="CommonLigands" ng-click="LigandSelected()" ng-model="commonLigands" size="6" style="width:100%; height: 130px">
										<option>Adrenomedullin</option>
										<option>Intermedin</option>
										<option>Amylin</option>
										<option>Calcitonin Gene-Related Peptide</option>
										<option>Vasoactive Intestinal Polypeptide</option>
										<option>Parathyroid Hormone</option>
									</select>
								</div>
								<h2 id="t_score_field">Tanimoto Threshold:<input size="1" type="text" ng-model="t_threshold" value="85">%</h2>

							</div>
				  </div>
			</div>
			<div ng-show="errorflag">
				{% verbatim %}
				<h2><span style="color:red">{{ error }}</span></h2>
				{% endverbatim %}
			</div>

				<input type ="submit" ng-click="Submit()" ng-hide="main_loading" class="btn btn-primary btn-lg" id="search_submit" href="#" role="button" style="
				box-shadow: 1px 1px 0px #000;
				margin-top:5%;
				margin-bottom:8%;
				width: 35%;
				display:block;
				background-color: steelblue;
				margin-left: auto;
				margin-right:auto;" value="Submit &raquo;">

			<div ng-show="main_loading">
				<h2><img src="{% static 'bootstrap/images/spinner.gif' %}">
				Loading results, please wait....</h2>
			</div>
			</form>

			</div>
			<div class="col-sm-4" style="padding:0;">
				<h1 style="margin-top:2vh;margin-bottom:2vh;">Database Status:</h1>
				<h2 ng-show="loading">Status: <span style="color:red">Offline</span><h2>
				<img ng-show="loading" src="{% static 'bootstrap/images/spinner.gif' %}">
				{% verbatim %}
				<h2 ng-show="results">Status: <span style="color:green">Online</span><h2>
				<h2 style="margin-top:2.5vh" ng-show="results" ng-repeat="(key,value) in data">{{key}} : {{value}}</h2>
				{% endverbatim %}
			</div>
	  </div>
  </div>
</div>
</div>
<div id="total_results"  ng-show="protein_page && !home">
        <div class='container-fluid' id='results_page'>
		<div class="row">
			<div class="col-sm-6">
                		<div id='summary'>
                			<h1 id='results_h1'>Summary:</h1>
                			<h3 style='margin-top:3%' id='summary_h3'><span style=font-weight:bold>Query:</span>
                			{% verbatim %}
                			{{ quer_name }}
                			</h3>
                			<h3 id='summary_h3'><span style=font-weight:bold>Length:</span>
					{{ length }} bp 
                			<h3 id='summary_h3'><span style=font-weight:bold>Family:</span>
					{{ family }} ({{ family_short }}) 
					</h3>
                			<div ng-show="highConf">
						<h3 id='summary_h3'><span style=font-weight:bold>Identity with interacting domain: </span><span style=color:green> 
						{{ confidence }}% </h3>
                				<!--<h3 id='summary_h3'><span style=font-weight:bold>E-Value with interacting domain: </span>
						<span style="color:green">{{ eval }}</span>  
						</h3>		
                				<h3 id='summary_h3'><span style=font-weight:bold>Max Score with interacting domain: </span>
						<span style="color:green">{{ max_score }}</span>
						</h3>-->
					</div>
                			<div ng-hide="highConf">
						<h3 id='summary_h3'><span style=font-weight:bold>Identity with interacting domain: </span><span style=color:red> 
						{{ confidence }}% </h3>
               					<!-- <h3 id='summary_h3'><span style=font-weight:bold>E-Value with interacting domain: </span>
							<span style="color:red">{{ eval }}</span>  
							</h3>		
                					<h3 id='summary_h3'><span style=font-weight:bold>Max Score with interacting domain: </span>
							<span style="color:red">{{ max_score }}</span>
							</h3>-->	
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<h3 id="results_h1">Sequence Alignment to Domain:</h3>
        			<div id="sequence">
				</div>
			</div>
        	</div>
	</div>
        <div ng-show="ramp_quer" class='container-fluid' id='results_page_int'>
                <h1 id="results_h1">Known {{ family_short }} Interactions:</h1>
                <table id="interaction_table" border="1">
             	<tr>
			<th>Phenotype</th>
			<th>GPCR</th>
			<th>Ligand</th>
			<th>Function</th>
			<th>Sources</th>
		</tr>
		<tbody id='interactions_tr' ng-repeat="(key,object) in interactions track by $index">
				<td> {{ object.phenotype }} </td>
				<td> {{ object.prot }} </td>
				<td> {{ object.ligand }} </td>
				<td ng-init="hide_func = true"> 
					<button ng-show="hide_func" ng-click="hide_func = false">+</button>
				 	<button ng-hide="hide_func" ng-click="hide_func = true">-</button>
				</td>
				<td ng-init="hide_sources = true">
				{{ object.ref_length }}
                                <button data-toggle="modal" data-target="#ramp_example{{$index}}">View</button>
                                        <div id="ramp_example{{$index}}" class="modal">
                                                <div class="modal-content">
                                                        <div class="row">
                                                                <div class="col-sm-1">
                                                                        <p><span style="font-weight:bold">#</span></p>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                        <p><span style="font-weight:bold">Source</span></p>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                        <p><span style="font-weight:bold">URL</span></p>
                                                                </div>
                                                                <div class="col-sm-1">
									<span style="font-weight:bold"><button class="close" data-toggle="modal" data-target="#ramp_example{{$index}}">x</button></span>
                                                                </div>
                                                        </div>
                                                        <hr id="sources_hr">
                                                        <div class="row" ng-repeat="(name,url) in object.references track by $index">
                                                                <div class="col-sm-1">
                                                                        <p> {{ $index + 1 }}</p>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                        <p> {{ name }}</p>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                        <p><a ng-href="{{ url }}"> {{ url }}</a></p>
                                                                </div>
                                                        </div>
								<button id="source_exit_button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#ramp_example{{$index}}">Close</button>
                                                </div>
                                        </div>

				</td>
		</tr>
		<tr>
			<td id="interactions_th" ng-if="!hide_func" colspan="1"> Function </td>
			<td id="interactions_tr" ng-if="!hide_func" colspan="4"> {{ object.function }} </td>
		</tr>
		</tbody>
		</table>
        </div>
        <div ng-hide="ramp_quer" class='container-fluid' id='results_page_int'>
                <h1 id="results_h1">Known {{ family_short }} Interactions:</h1>
                <table id="interaction_table" border="1">
             	<tr>
			<th>Phenotype</th>
			<th>RAMP</th>
			<th>Ligand</th>
			<th>Function</th>
			<th>Sources</th>
		</tr>
		<tbody id='interactions_tr' ng-repeat="(phenotype,object) in interactions track by $index">
			<td> {{ object.phenotype }} </td>
			<td> {{ object.prot }} </td>
			<td> {{ object.ligand }} </td>
			<td ng-init="hide_func = true"> 
				<button ng-show="hide_func" ng-click="hide_func = false">+</button>
				<button ng-hide="hide_func" ng-click="hide_func = true">-</button>
			</td>
			<td ng-init="hide_sources = true">
			{{ object.ref_length }}	
				<button data-toggle="modal" data-target="#gpcr_example{{$index}}">View</button>
					<div id="gpcr_example{{$index}}" class="modal">
  						<div class="modal-content">
							<div class="row">
								<div class="col-sm-1">
    									<p><span style="font-weight:bold">#</span></p>
								</div>
								<div class="col-sm-5">
    									<p><span style="font-weight:bold">Source</span></p>
								</div>
								<div class="col-sm-5">
    									<p><span style="font-weight:bold">URL</span></p>
								</div>
								<div class="col-sm-1">
									<span style="font-weight:bold"><button class="close" data-toggle="modal" data-target="#gpcr_example{{$index}}">x</button></span>
								</div>
							</div>
							<hr id="sources_hr">
							<div class="row" ng-repeat="(name,url) in object.references track by $index">
								<div class="col-sm-1">
    									<p> {{ $index + 1 }}</p>
								</div>
								<div class="col-sm-6">
    									<p> {{ name }}</p>
								</div>
								<div class="col-sm-5">
    									<p><a ng-href="{{ url }}"> {{ url }}</a></p>
								</div>
							</div>
								<button id="source_exit_button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#gpcr_example{{$index}}">Close</button>
  						</div>	
					</div>
			</td>
		</tr>
		<tr>
			<td id="interactions_th" ng-if="!hide_func" colspan="1"> Function </td>
			<td id="interactions_tr" ng-if="!hide_func" colspan="4"> {{ object.function }} </td>
		</tr>
		</tbody>
		</table>
        </div>
               {% endverbatim %}

</div>
</div>

<div id="total_results" ng-show="ligand_page && !home">
        <div class='container-fluid' id='results_page'>
		<div class="row">
			<div class="col-sm-6">
	                	<div id='summary'>
                			<h1 id='results_h1'>Summary:</h1>
                			<h3 style='margin-top:3%' id='summary_h3'><span style=font-weight:bold>Found Match for Query:</span>
                			{% verbatim %}
					{{ query_name }}
                			</h3>
                			<h3 id='summary_h3'><span style=font-weight:bold>Match Name:</span>
					{{ match_name }}
					</h3>
                			<h3 id='summary_h3'><span style=font-weight:bold>PubChem ID:</span>
					{{ chem_id }}
					</h3>
                			<h3 id='summary_h3'><span style=font-weight:bold>Molecular Formula: </span><span ng-bind-html="molecular_formula"></span>
 					</h3>
                			<h3 id='summary_h3'><span style=font-weight:bold>Molecular Weight:</span>
					{{ molecular_weight }} g/mol
					</h3>
                			<h3 id='summary_h3'><span style=font-weight:bold>InChi Key:</span>
					{{ inchi_key }}
					</h3>
				</div>
			</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-8">
							<div ng-show="img_loaded" id="image_area">
								<img id="lig_img" ng-src="{{ ligand_img }}"/>
							</div>
							<a ng-href="{{ url }}">{{ url }}</a>
							<div ng-hide="img_loaded" id="image_area">
							{% endverbatim %}
								<img src="{% static 'bootstrap/images/spinner.gif' %}">
							{% verbatim %}
							</div>
						</div>
					</div>
				</div>
	</div>
        <div class='container-fluid' id='results_page_int_lig'>
                <h1 id="results_h1">Known {{ match_name }} RAMP Interactions:</h1>
                <table id="interaction_table" border="1">
		<thead>
             	<tr>
			<th>Phenotype</th>
			<th>GPCR</th>
			<th>RAMP</th>
			<th>Function</th>
			<th>Sources</th>

		</tr>
		</thead>
		<tbody  id="interactions_tr" border="1" ng-repeat="(phenotype,object) in interactions track by $index">
			<tr>
				<td> {{ object.name }} </td>
				<td> {{ object.gpcr }} </td>
				<td> {{ object.ramp }} </td>
				<td ng-init="hide_func = true"> 
					<button ng-show="hide_func" ng-click="hide_func = false">+</button>
					<button ng-hide="hide_func" ng-click="hide_func = true">-</button>
				</td>
				<td ng-init="hide_sources = true">
				{{ object.ref_length }}
					<button data-toggle="modal" data-target="#lig_example{{$index}}">View</button>
					<div id="lig_example{{$index}}" class="modal">
  						<div class="modal-content">
							<div class="row">
								<div class="col-sm-1">
    									<p><span style="font-weight:bold">#</span></p>
								</div>
								<div class="col-sm-5">
    									<p><span style="font-weight:bold">Source</span></p>
								</div>
								<div class="col-sm-5">
    									<p><span style="font-weight:bold">URL</span></p>
								</div>
								<div class="col-sm-1">
									<span style="font-weight:bold"><button class="close" data-toggle="modal" data-target="#lig_example{{$index}}">x</button></span>
								</div>
							</div>
							<hr id="sources_hr">
							<div class="row" ng-repeat="(name,url) in object.references track by $index">
								<div class="col-sm-1">
    									<p> {{ $index + 1 }}</p>
								</div>
								<div class="col-sm-6">
    									<p> {{ name }}</p>
								</div>
								<div class="col-sm-5">
    									<p><a ng-href="{{ url }}"> {{ url }}</a></p>
								</div>
							</div>
								<button id="source_exit_button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#lig_example{{$index}}">Close</button>
  						</div>	
					</div>
				</td>
			</tr>
		<tr>
			<td id="interactions_th" ng-if="!hide_func" colspan="1"> Function </td>
			<td id="interactions_tr" ng-if="!hide_func" colspan="4"> {{ object.function }} </td>
		</tr>

		</tbody>
		</table>		

        </div>
               {% endverbatim %}

</div>


</body>



</html>


