{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>RampDB</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
  <!-- Custom Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- Custom scripts for this template -->
  <script src="{% static 'jquery-1.12.0.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
  <script src="{% static 'home.js' %}"></script>
  <script src=//cdn.bio.sh/msa/1.0/msa.min.gz.js></script>
	
</head>

<body ng-app="homeApp" ng-controller="myCtrl">
<nav class="navbar navbar-inverse">
  <!--Logo-->
  <div class="container-fluid" id="navbar_box" style="width: 100%">
      <div class="navbar-header">
      <a href="{% url 'index' %}" class="navbar-brand" style="margin-right: 4px; width:54px;"><img src="{% static 'logo.png' %}" style="width: 175%;"></a>
	  </div>

    <div>
      <u1 class="nav navbar-nav">
        <li class="active"><a href="{% url 'index' %}" ng-click="backtoHome()">Home</a></li>
        <li><a href="{% url 'info' %}">RAMP Information</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a target="_blank" ng-href="http://jordan.biology.gatech.edu/page/">Contact</a></li>
      </u1>
        <a class='btn btn-primary btn-lg' id='export_button' href='#' ng-hide="home"role='button'>Export Results</a>
        <a class='btn btn-primary btn-lg' id='export_button' href='' ng-hide="home"  ng-click="backtoHome()" role='button'>Search Again</a>
    </div>
  </div>
</nav>
    <div class="container-fluid">
        <div class="row">
                <br>
                <div id="about_text" class="col-sm-6">
                        <h2><span style=font-weight:bold>Introduction:</span></h2>
			<p>Receptor Activity Modifying Proteins, or <span style=font-weight:bold>RAMPs</span>, are small proteins which serve to modulate the activity of several
		 		G protein-coupled receptors <span style=font-weight:bold>(GPCRs)</span>.
			</p>
			<p>
	   		These RAMP-GPCR interactions can result in a variety of actions, including the heterodimerization of novel receptor phenotypes,
				and the chaperoning of the receptor to the cell surface.
			</p>
			<p>
	   		The novel receptor phenotypes, and consequently the ligand binding, is ultimately determined by the isoform of RAMP interaction with the given GPCR. As an example, the interactions between RAMPs 1-3 and the calcitonin-like receptor is shown.
			</p>
                </div>
                <div class="col-sm-6">
                        <img class="img-responsive" src="{% static 'ramp_int.png' %}"/>
			<p id="img_text">Phenotype of RAMP + CLR complex is determined by RAMP isoform</p>
                </div>
        </div>
	<hr>
        <div class="row">
                <div id="about_text" class="col-sm-6">
                        <h2><span style=font-weight:bold>Significance:</span></h2>
			<p>
		   		Originally, the interaction between RAMPs and GPCRs was thought to be limited to the B-class GPCRs, which consists of receptors which interact with peptide hormones, such as glucagon,
				secretin and calcitonin.
			</p>
			<p> 
				Since then, experimental findings have shown atleast one C-class GPCR to also be be regulated by RAMPs.
			</p>
			<p>
			  	The research into RAMPs has also opened the field to the identification of RAMP-like proteins - two of which are receptor-transporting proteins <span style=font-weight:bold>(RTPs)</span>
				and receptor expression enhancing proteins <span style=font-weight:bold>(REEPS)</span>. These function similarly to RAMPs, particularly with odorant GPCRs.
			</p>
			<p>
				As the various interactions of RAMPs continues to expand, there will be a growing need for a central repository to explore and predict these interactions. RampDB aims to serve as that central repository.
			</p> 
               </div>
                <div class="col-sm-6">
                        <img class="img-responsive" src="{% static 'CaSR.png' %}"/>
			<p id="img_text">Transporting of CaSR, a C-class GPCR, to the cell surface by RAMPs 1 or 3</p>
                </div>
        </div>
    </div>
</body>



</html>


